/* genres.css */

/* Style pour la liste de genres */
.genre-list {
  list-style: none; /* Désactive les puces de liste */
  display: flex; /* Affiche les éléments en ligne */
  flex-wrap: wrap; /* Passe à la ligne si nécessaire */
  gap: 10px; /* Marge entre les éléments */
}

/* Style pour chaque élément de genre */
.genre-item {
  border: 1px solid #ccc; /* Bordure grise de 1 pixel */
  padding: 10px; /* Espace intérieur de 10 pixels */
  margin: 5px; /* Marge extérieure de 5 pixels */
  display: flex; /* Affichage en tant que conteneur flex */
  align-items: center; /* Alignement vertical des éléments */
}

/* Style pour le bouton à l'intérieur de chaque élément de genre */
.genre-item button {
  width: 100px; /* Largeur du bouton */
  height: 100px; /* Hauteur du bouton */
  border: none; /* Pas de bordure */
  cursor: pointer; /* Curseur de type pointer */
}

/* Style pour le texte à côté du bouton */
.genre-item span {
  margin-left: 10px; /* Marge à gauche de 10 pixels */
}

/* Style pour la modal */
.modal {
  position: fixed; /* Position fixe par rapport à la fenêtre */
  top: 50%; /* Position verticale centrée à 50% */
  left: 50%; /* Position horizontale centrée à 50% */
  transform: translate(-50%, -50%); /* Centrage absolu */
  background-color: red; /* Fond rouge */
  padding: 20px; /* Espace intérieur de 20 pixels */
  z-index: 1000; /* Indice de positionnement pour être au-dessus des autres éléments */
  max-height: 80vh; /* Hauteur maximale de 80% de la hauteur de la fenêtre */
  overflow-y: auto; /* Ajoute une barre de défilement en cas de dépassement de la hauteur */
}

/* Style pour l'effet fade-in de la modal */
.modal.fade-in {
  opacity: 1; /* Opacité maximale pour montrer la modal */
}

/* Style pour le bouton à l'intérieur de la modal */
.modal button {
  background-color: black; /* Couleur de fond du bouton fermer */
  color: red; /* Couleur du texte du bouton fermer */
  padding: 10px; /* Espace intérieur de 10 pixels */
  border: none; /* Pas de bordure */
  cursor: pointer; /* Curseur de type pointer */
  margin-top: 10px; /* Marge en haut de 10 pixels */
}

/* Style pour le survol du bouton à l'intérieur de la modal */
.modal button:hover {
  background-color: #333; /* Couleur de fond du bouton fermer au survol */
}
