/* src/styles.css */

/* Style global pour le corps de la page */
body {
    background-color: black; /* Couleur de fond noire */
    color: white; /* Couleur du texte blanc pour une meilleure visibilité sur un fond sombre */
    margin: 0; /* Supprime la marge par défaut du corps */
    padding: 0; /* Supprime le rembourrage par défaut du corps */
}

/* Ajoutez ici d'autres styles globaux si nécessaire */
