/* styles.css */

/**
 * Styles pour la barre de navigation.
 */
nav {
    background-color: darkred; /* Couleur de fond de la barre de navigation */
    padding: 10px;
    text-align: center;
}

/**
 * Styles pour la liste non ordonnée à l'intérieur de la barre de navigation.
 */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/**
 * Styles pour chaque élément de liste à l'intérieur de la barre de navigation.
 */
nav li {
    display: inline-block;
    margin-right: 10px;
}

/**
 * Styles pour les liens à l'intérieur de la barre de navigation.
 */
nav a {
    text-decoration: none;
    color: white; /* Couleur du texte des liens */
    font-family: 'Helvetica', sans-serif;
    font-size: 16px; /* Ajustez la taille de la police si nécessaire */
    font-weight: 500; /* Ajustez le poids de la police si nécessaire */
}

/**
 * Styles pour les boutons.
 */
button {
    cursor: pointer;
}

/**
 * Styles pour le lien actif.
 */
.active {
    /* Ajoutez des styles pour le lien actif ici */
    background-color: #555; /* Changez la couleur de fond pour le lien actif */
    color: #ffcc00; /* Changez la couleur du texte pour le lien actif */
}
