/* RealisateursList.css */

/**
 * Styles pour la liste des réalisateurs.
 */
.realisateurs-list {
  position: relative;
  top: 5px; /* Ajustez cette valeur en fonction de la hauteur de votre barre de navigation */
  left: 25px;
  height: 100%; /* Ajustez la hauteur si nécessaire */
  width: 350px; /* Ajustez la largeur si nécessaire */
  padding: 10px; /* Ajustez le padding si nécessaire */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optionnel : Ajoutez une ombre pour le style */
}

/**
 * Ajoute une marge en bas à la liste des réalisateurs.
 */
.realisateurs-list {
  margin-bottom: 15px; /* Ajustez la marge en bas si nécessaire */
}

/**
 * Styles pour la liste non ordonnée à l'intérieur de la liste des réalisateurs.
 */
.realisateurs-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/**
 * Styles pour chaque élément de liste à l'intérieur de la liste des réalisateurs.
 */
.realisateurs-list li {
  margin-bottom: 10px;
}
