/* SearchBar.css */

/**
 * Styles pour la barre de recherche.
 */
.search-bar {
    margin: 20px 0; /* Marge en haut et en bas de la barre de recherche */
    text-align: center; /* Alignement du texte au centre */
}

/**
 * Styles pour l'élément d'entrée (input) de la barre de recherche.
 */
.search-bar input {
    padding: 10px; /* Ajoute un espace intérieur de 10 pixels autour du contenu de l'input */
    border: 1px solid #ccc; /* Ajoute une bordure de 1 pixel solide avec une couleur grise */
    border-radius: 5px; /* Ajoute un arrondi de 5 pixels aux coins de l'input */
    width: 300px; /* Définit une largeur fixe de 300 pixels pour l'input */
    font-size: 16px; /* Définit la taille de la police à 16 pixels */
    outline: none; /* Supprime la bordure de mise au point par défaut */
}
