/* ActeursList.css */
.acteurs-list {
  position: relative;
  top: 5px; /* Adjust this value based on your navigation bar height */
  left: 25px;
  height: 100%; /* Adjust the height as needed */
  width: 350px; /* Adjust the width as needed */
  padding: 10px; /* Adjust padding as needed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for styling */
}
.acteurs-list {
  margin-bottom: 15px; /* Adjust the margin as needed */
}

.acteurs-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.acteurs-list li {
  margin-bottom: 10px;
}

.acteur-item {
  /* Styles de base pour les éléments d'acteur */
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.acteur-item.selected {
  /* Styles supplémentaires pour les éléments d'acteur sélectionnés */
  background-color: #eee;
  border-color: #999;
}