/* genres.css */
.genre-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.genre-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  display: flex;
  align-items: center;
}

.genre-item button {
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
}

.genre-item span {
  margin-left: 10px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  padding: 20px;
  z-index: 1000;
  max-height: 80vh; /* Définir une hauteur maximale de 80% de la hauteur de la fenêtre */
  overflow-y: auto; /* Ajouter une barre de défilement en cas de dépassement de la hauteur */
}

.modal.fade-in {
  opacity: 1;
}

.modal button {
  background-color: black; /* Couleur de fond du bouton fermer */
  color: red; /* Couleur du texte du bouton fermer */
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.modal button:hover {
  background-color: #333; /* Couleur de fond du bouton fermer au survol */
}