/* realisateur-item.css */
.listitem-frame {
    border: 1px solid #ccc; /* Example border styling */
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Include box-shadow in the transition */
    box-shadow: 0 0 10px rgb(236, 199, 12), 0 0 20px rgba(255, 0, 0, 0.3); /* Red glow effect */


    /* Additional styling as needed */
}

.listitem-frame:hover {
    background-color: #f0f0f0; /* Example background color on hover */
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5), 0 0 20px rgba(255, 0, 0, 0.3); /* Red glow effect */
}

.cinzel-font {
    font-family: 'Cinzel', serif;
    /* Add additional styles if needed */
}

.bebas-neue-font {
    font-family: 'Bebas Neue', sans-serif;
    /* Add additional styles if needed */
}

