/* ModifyRealisateurModal.css */
.modify-realisateur-modal {
    position: fixed;
    top: 25px;
    left: 1200px;
    max-width: 600px;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modify-realisateur-modal.open {
    display: flex;
}

.modal-content {
    background-color: #cbad0b; /* Change to your desired solid color */
    color: #000000;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.modal-close {
    background: #000000;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

/* Add additional styling as needed */
