nav {
    background-color: darkred;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px; /* Adjust the font size as needed */
    font-weight: 500; /* Adjust font weight if needed */
}

button {
    cursor: pointer;
}

.active {
    /* Add styles for the active link here */
    background-color: #555; /* Change background color for active link */
    color: #ffcc00; /* Change text color for active link */
}
