nav {
    position: relative;
    padding: 15px;
    text-align: center;
}

nav::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px; /* Adjust the height of the red line as needed */
    background-color: darkred;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: 'Cinzel', sans-serif;
    font-size: 16px; /* Adjust the font size as needed */
    font-weight: 500; /* Adjust font weight if needed */
    margin-right: 25px;
}

button {
    cursor: pointer;
}

.active {
    background-color: #8b4600; /* Change background color for active link */
    color: #ffcc00; /* Change text color for active link */
    padding: 10px 15px; /* Adjust padding to make the bar bigger */
    border-radius: 8px; /* Add border-radius for rounder edges */
}

.home-link {
    /* Add styles for the home link when on the home page */
    color: white; /* Set the desired text color for the home link */
    /* Add any other styles as needed */
}
