/* RealisateursList.css */
.realisateurs-list {
  position: relative;
  top: 5px; /* Adjust this value based on your navigation bar height */
  left: 25px;
  height: 100%; /* Adjust the height as needed */
  width: 350px; /* Adjust the width as needed */
  padding: 10px; /* Adjust padding as needed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for styling */
}
.realisateurs-list {
  margin-bottom: 15px; /* Adjust the margin as needed */
}

.realisateurs-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.realisateurs-list li {
  margin-bottom: 10px;
}
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 20px; /* Adjust as needed */
}

.realisateurs-list {
  flex: 1;
  margin-right: 20px; /* Adjust as needed */
}

.film-info {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: rgba(255, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5), 0 0 20px rgba(255, 0, 0, 0.3);

  /* Limit the height and add overflow-y for scrolling */
  max-height: 80vh; /* Adjust the maximum height as needed */
  overflow-y: auto;
}

.film-info button.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 3px;
  cursor: pointer;
}