/* styles/styles.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
}

nav {
  background-color: #d00;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

button {
  cursor: pointer;
}

/* Style page realisateurs*/
.realisateurs-list-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; /* Adjust the width as needed */
  height: 100%; /* Adjust the height as needed */
  overflow-y: auto; /* Add scroll if the content exceeds the height */
  background-color: #fff; /* Add a background color if needed */
  padding: 20px; /* Adjust padding as needed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for styling */
}

.realisateurs-list-wrapper h2 {
  margin-bottom: 10px;
}

.realisateurs-list-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.realisateurs-list-wrapper li {
position: static;
  margin-bottom: 10px;
}

.selected {
  background-color: #d00; /* Set background color for the selected item */
  color: #ffffff; /* Set text color for the selected item */
}

.films-section {
  text-align: center;
  align-items: center;
  padding: 20px; /* Add padding for styling */
  background-color: #00000; /* Add a background color */
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
  margin-top: 20px; /* Add spacing between realisateurs-list and films-section */
}

/* Add the following styles for the "Modifier Réalisateur" section */
.modify-realisateur-section {
  position: absolute;
  top: 75px;
  right: 25px;
  color: rgba(100, 100, 100, 0.8);
  display: flex;
  align-items: center;
  cursor: pointer; /* Add a pointer cursor to indicate it's clickable */
}

.modify-realisateur-section span {
  margin-right: 5px; /* Adjust spacing between text and icon */
}


/* Add a container for the search bar to control its position */
.search-bar-container {
  position: fixed;
  top: 20px;
  right: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
}

/* Add more styles as needed */
/* Override Bootstrap Pagination styling */
.custom-pagination {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: calc(100% + 20px); /* Adjust the margin as needed */
    margin-top: 10px; /* Adjust margin as needed */
}

.custom-pagination-button {
  padding: 5px 10px;
  background-color: #007bff; /* Your preferred button background color */
  color: #fff; /* Your preferred button text color */
  border: 1px solid #007bff; /* Your preferred button border color */
  cursor: pointer;
}

.custom-pagination-button:disabled {
  background-color: #ccc; /* Your preferred disabled button background color */
  color: #888; /* Your preferred disabled button text color */
  border: 1px solid #ccc; /* Your preferred disabled button border color */
  cursor: not-allowed;
}

.custom-pagination-current {
  font-weight: bold;
}