/* Home.css */

/**
 * Animation keyframes pour faire glisser le contenu.
 * Déplace le contenu d'une position initiale vers le bas à sa position finale.
 * @keyframes slidein
 * @from {transform: translateY(-50px); opacity: 0;}
 * @to {transform: translateY(0); opacity: 1;}
 */

@keyframes slidein {
  from {
    transform: translateY(-50px); /* Déplacement initial vers le haut */
    opacity: 0; /* Opacité initiale */
  }
  to {
    transform: translateY(0); /* Déplacement final vers le bas (position initiale) */
    opacity: 1; /* Opacité finale */
  }
}

/**
 * Styles pour le conteneur de la page d'accueil.
 * Positionné en relatif et centré.
 * @class home-page
 */
.home-page {
  position: relative;
  text-align: center; /* Centrer le texte */
}

/**
 * Styles pour l'élément de titre.
 * Positionné absolument, centré, avec une animation de glissement.
 * @class title
 */
.title {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  margin: 3px 0;
  position: absolute;
  top: 20%;
  left: 68%;
  transform: translate(-50%, -50%);
  animation-duration: 1s;
  animation-name: slidein;
  animation-iteration-count: 1;
}

/**
 * Styles pour une image en pleine largeur.
 * @class full-width-image
 */
.full-width-image {
  width: 100%;
  height: auto; /* Maintenir les proportions de l'image */
}

/**
 * Styles pour le conteneur de boutons.
 * Affiché en tant que conteneur flex avec un espacement égal.
 * Positionné absolument en bas du conteneur.
 * @class button-container
 */
.button-container {
  display: flex;
  justify-content: space-around; /* Espacement égal entre les boutons */
  position: absolute;
  bottom: 20px; /* Ajuster la distance depuis le bas */
  width: 100%;
}

/**
 * Styles pour un bouton décoré.
 * Couleur de fond, rembourrage et styles de bordure avec un effet de survol.
 * @class decorated-button
 */
.decorated-button {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: #007bff; /* Couleur de fond */
  padding: 10px 20px; /* Rembourrage du bouton */
  text-decoration: none; /* Supprimer le soulignement du lien par défaut */
  border: 2px solid #007bff; /* Bordure du bouton */
  border-radius: 5px; /* Coins arrondis */
  transition: background-color 0.3s ease; /* Animation de transition */

  /* Effet de survol */
  &:hover {
    background-color: #0056b3; /* Couleur de fond au survol */
  }
}

/**
 * Styles pour la fenêtre d'informations.
 * Positionné absolument en bas au centre avec un fond noir, un rembourrage et des coins arrondis.
 * L'opacité est initialement réglée sur 0 pour l'animation.
 * @class info-window
 */
.info-window {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 600px; /* Ajuster la largeur maximale selon vos préférences */
  background-color: black; /* Fond noir */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Légère ombre */
  text-align: center;
  opacity: 0; /* Opacité initiale pour l'animation */
}

/**
 * Styles pour la bande noire dans la fenêtre d'informations.
 * Positionné absolument en haut, créant une apparence arrondie en haut.
 * @class black-band
 */
.info-window .black-band {
  background-color: black;
  height: 20px; /* Ajuster la hauteur de la bande selon vos préférences */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 10px 10px 0 0; /* Coins arrondis uniquement en haut */
}

/**
 * Styles pour les paragraphes à l'intérieur de la fenêtre d'informations.
 * Couleur de texte rouge et marge supérieure.
 * @class info-window p
 */
.info-window p {
  color: red; /* Texte rouge */
  margin-top: 10px; /* Ajuster la marge selon vos préférences */
}

/**
 * Styles d'animation pour les paragraphes.
 * Utilise l'animation slidein pour une durée de 3 secondes avec une seule itération.
 * @class p
 */
p {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
}
